{% extends 'dna_analysis/base.html' %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Opis</th>
      <th scope="col">Autor</th>
      <th scope="col">Opcje</th>

    </tr>
  </thead>
  <tbody>
  <a class="btn btn-primary btn-lg" href="/project/new" role="button"> <i class="bi bi-file-earmark-plus"></i> new project</a>
    {% for item in page_obj %}
            <tr>
                <td><a href="{% url 'project_detail' pk=item.pk %}">{{ item.name }}</a></td>
                <td>{{ item.description }}</td>
                <td>{{ item.author }}</td>
                <td><a href="{% url 'project_edit' pk=item.pk %}"><i class="bi bi-pencil-square"></i></a>
                    <a href="{% url 'project_delete' pk=item.pk %}"><i class="bi bi-trash"></i></a></td>
            </tr>
            {% endfor %}
  </tbody>
</table>
<!-- Pagination links -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}

