{% extends 'dna_analysis/base.html' %}

{% block content %}
    <div class ="project">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'project_edit' pk=project.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ project.name }} </h2>
        <p>{{ project.description }} </p>
        <p><i>{{ project.author }}</i></p>

        <a class="btn btn-primary" href="{% url 'dna_sequence_new' pk=project.pk %}" role="button"> <i class="bi bi-file-earmark-plus"></i>New sequence</a>
        <p></p>

        <h3>Sekwencje</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Autor</th>
      <th scope="col">Opcje</th>
    </tr>
  </thead>
  <tbody>
    {% for dna_sequence in dna_sequences %}
            <tr>
                <td><a href="{% url 'dna_sequence_detail' pk=dna_sequence.pk %}">{{ dna_sequence.name }}</a></td>
                <td>{{ project.author }}</td>
                <td><a href="{% url 'dna_sequence_edit' pk=dna_sequence.pk %}"><i class="bi bi-pencil-square"></i></a>
                    <a href="{% url 'dna_sequence_delete' pk=dna_sequence.pk %}"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
  </tbody>
</table>

{% endblock %}
