{% extends "dna_analysis/base.html" %}

{% block title %}DNA Analyzer{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="jumbotron">
  <h1 class="display-4">Hello, {{ user.username }}!</h1>
  <p class="lead">This is a simple dna analyzer</p>
  <hr class="my-4">
  <p> You can create project and analyze DNA sequences</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'project_list' %}" role="button">Projects list</a>
  </p>
</div>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">logout</button>
</form>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}